.App {
  text-align: center;
}

.App-header {
  /* background-color: rgb(4, 42, 114);
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  background-color: rgb(18, 10, 92);
  min-height: 60px;
  padding: 15px;
  color: rgba(253,187,45,1);
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

body{
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  /* background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
}

#start{
  padding: 30px;
  margin: 70px;
  font-size: 30px;
  color: rgba(253,187,45,1);
  background-color: rgb(18, 10, 92);
}
